body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #fef6f9;
}

/* HEADER */
header {
    background-color: #cdb4db;
    color: white;
    text-align: center;
    padding: 20px;
}

button {
    background-color: #ffafcc;
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
}

/* SECTION */
section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}

/* PROFIL */
.profil img {
    width: 150px;
    border-radius: 12px;
    margin-top: 10px;
}

/* INPUT */
textarea {
    width: 100%;
    height: 90px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

select, input {
    margin-top: 8px;
    padding: 6px;
    border-radius: 8px;
    width: 100%;
}

/* LOGIN */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffcdb2;
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 320px;
}

/* LOGOUT */
.logout-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #bde0fe;
}

.logout-box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

/* FOOTER */
footer {
    text-align: center;
    background-color: #a2d2ff;
    padding: 15px;
}
